/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    margin: auto;
    max-width: 600px;
    font-family: "Roboto Mono";
}
#nested_header{
    display: inline-block;
    width: 100%;
}
#img_contain{
    display: inline-block;
}
#img_bubble{
    width: 180px;
    border-radius: 50%;
    padding: 10px;
}
#title_contain{
    width: 400px;
    display: inline-block;
    position: absolute;
    padding-top: 24px;
}

@font-face{
    font-family:"Chelsea";
    src: url("https://fonts.google.com/specimen/Chelsea+Market");
}
@font-face{
    font-family:"Roboto";
    src: url("(https://fonts.google.com/specimen/Roboto+Mono");
}

#link_visit{
    background-color: #FF764E;
}
#link_learn{
    background-color: #5ED3EB;
}
#link_involved{
    background-color: #FFCD69;
}
#link_visit:hover{
    background-color: #ff3c00;
}
#link_learn:hover{
    background-color: #009bd8;
}
#link_involved:hover{
    background-color: #ff9b05;
}

h1{
    font-size: 2.2rem;
    font-family: "Chelsea Market";
    margin: 10px 0px;
}

#main_body{
    background-color: #DDB9A3;
    color: white;
    padding: 15px 15px;
    line-height: 15px;
    text-align: center;
}
section section p{
    font-size: .69rem;
}

footer{
    background-color: #F9E7DC;
    height: 264px;
    box-shadow: 0px 4px 3px rgba(0,0,0,.25);
}
p{
    font-size: .8rem;
}
.body_para{
    position: relative;
    margin: 0px 180px 48px 180px;
    display: inline-block;
    width: 240px;
    text-align: center;
    
}
.clipart{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 65px;
}

footer img{
    width: 100%;
    height: 300x;
}

a{
    text-align: center;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    border-radius: 15px;
    width: 90px;
    padding: 8px 10px;
    margin: auto;
}
a:hover{
    transform: scale(1.1);
}
nav{
    display: flex;
    margin: 25px;
    height: 54px;
}

div p {
    text-align: center;
    font-size: .75rem;
}
#small_para{
    padding: 0px 60px;
}

#footer_img{
    background-image: url("assets/footer_img.jpg");
    background-position: 0px -40px;
    background-size: 100%;
    height: 160px;
}
strong{
    font-weight: bold;
}
address{
    font-size: .5rem;
    text-align: center;
    margin: 20px;
}
